body {
    background-color: lightblue;
    margin-left: 30px;
}


#deckDiv {
    padding-top: 50px;
}

#deckDiv span {

    display: inline-block;
    height: 60px;
    width: 43px;
    border: 2px blue solid;
    margin: 5px;
    background-color: white;
    text-align: right;
    border-radius: 4px;
    font-size: 25px
}

.redCard {
    color: red;    
}